{{#partial "navItems"}}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link page-scroll" href="/admin/form-caracteristica">Agregar Característica</a>
        </li>
    </ul>
    {{>logoutButtonAdmin.hbs}}
{{/partial}}

{{#partial "content"}}
    <header id="header" class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="image-container">
                        <img class="img-fluid" src="/images/admin.png" alt="alternative">
                    </div>
                </div>
            </div>
        </div>
    </header>
{{/partial}}

{{>layout.hbs}}