<h3 class="mb-3">Información de Contacto</h3>
<div class="form-group">
    <input type="text" class="form-control-input" id="name" required name = "nombreContacto">
    <label class="label-control" for="name">Nombre Contacto</label>
</div>
<div class="form-group">
    <input type="text" class="form-control-input" id="name" required name = "apellidoContacto">
    <label class="label-control" for="name">Apellido Contacto</label>
</div>
<div class="form-group">
    <input type="text" class="form-control-input" id="name" required name = "telefono">
    <label class="label-control" for="name">Telefono</label>
</div>
<div class="form-group">
    <input type="email" class="form-control-input" id="name" required name = "email">
    <label class="label-control" for="name">Email</label>
</div>