<form action="/admin/home" method="POST">
    <span class="nav-item">
        <input class="btn-outline-sm page-scroll" type="submit" name="logout" value={{ logout }} "Cerrar Sesión"/>
    </span>
</form>