{{#partial "navItems"}}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link page-scroll" href="/form-sin-chapita">Encontré Una Mascota</a>
        </li>
    </ul>
    {{>signInButton.hbs}}
{{/partial}}

{{#partial "content"}}
    <header class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <h1 class="text-center">Registrarse</h1>
                </div>
            </div>
        </div>
    </header>

    <div class="ex-form-1 pt-4 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-3">
                    <div class="text-box mt-5 mb-5">
                        <p class="mb-4">Completá el siguiente formulario para registrarte. ¿Ya tenés una cuenta? Entonces <a class="blue" href="/duenio/login">inicia sesión</a></p>
                        <form id="signUpForm" action="/duenio/signup" method="POST">
                        <h3 class="mb-3">Datos de la Persona</h3>
                            <div class="form-group">
                                <input type="text" class="form-control-input" id="text" required name = "nombre">
                                <label class="label-control" for="text">Nombre</label>
                            </div>
                            <div class="form-group">
                                <input type="date" class="form-control-input" id="date" required name = "fechaNacimiento">
                                <label class="label-control" for="date">Fecha de Nacimiento</label>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control-input" id="name" required name = "tipoDocumento">
                                <label class="label-control" for="name">Tipo de Documento</label>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control-input" id="name" required name = "documento">
                                <label class="label-control" for="name">Documento</label>
                            </div>
                            <h3 class="mb-3">Datos de Contacto</h3>
                            <div class="form-group">
                                <input type="text" class="form-control-input" id="name" required name = "nombreContacto">
                                <label class="label-control" for="name">Nombre Contacto</label>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control-input" id="name" required name = "apellidoContacto">
                                <label class="label-control" for="name">Apellido Contacto</label>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control-input" id="name" required name = "telefono">
                                <label class="label-control" for="name">Telefono</label>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control-input" id="name" required name = "email">
                                <label class="label-control" for="name">Email</label>
                            </div>
                            <h3 class="mb-3">Datos de la Cuenta</h3>
                            <div class="form-group">
                                <input type="text" class="form-control-input" id="text" name="usuario" value="{{ usuario }}" required>
                                <label class="label-control" for="email">Usuario</label>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control-input" id="password" name="password" value="{{ password }}" required>
                                <label class="label-control" for="password">Contraseña</label>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control-submit-button">Registrarse</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/partial}}

{{>layout.hbs}}